/* #M3 aula #2: Formatação de textos no CSS prt2 

    01. color            - define a cor da fonte 
    02. font-size        - define o tamanho da fonte
    03. font-weight      - permite definir valores como: negrito (bold)/ normal, para a fonte 
    04. font-family      - define o(s) tipo(s) de fonte(s)
    05. text-align       - define o alinhamento do texto (padrão: left - also: right / center / justify)
    06. text-decoration  - define decorações no texto - (none / underline / overline/ line-through)
    
    07. text-transform: (uppercase / lowercase e etc)    - permite transformar o texto em caixa alta ou baixa, entre outros
    08. letter-spacing: argpx                            - define espaçamento entre as letras 
    09. word-spacing: argpx                              - define espaçamento entre as palavras
    10. line-height: argpx                               - define o tamanho de cada linha
    11. text-shadow: arg1px arg2px arg3px #COR           - define uma sombra no texto onde os argumentos são: direita, baixo, espalhamento e cor 
*/

* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

p {
    color: #00f;
    font-size: 20px;
    font-family: helvetica, arial, Comic Sans Ms; 
    text-align: left; 
    /* text-transform: uppercase;      transforma o texto em caixa alta, lowercase outra alternativa */
    /* letter-spacing: 3px;            define espaçamento entre as letras */
    /* word-spacing: 5px;              define espaçamento entre as palavras */
    line-height: 25px;                  /* define o tamanho de cada linha */
    text-shadow: 1px 1px 2px #f00;    /* define uma sombra no texto onde os argumentos são: direita, baixo, espalhamento e cor */
}   

