/*  #M11 aula #2: Container e Item

    Para entendermos de forma geral o funcionamento do CSS Grid temos que entender dois conceitos - Para realizarmos qualquer tipo de estrutura
    Grid, teremos que ter pelo menos duas divs - elementos.

    Container  - engloba os elementos - algumas propriedades iremos definir nele - alguns tipos de configurações, subdivisões. Assim definiremos
    as 'regras gerais' para itens, no container. 
    Item       - elemento - outras coisas serão necessárias definirmos aqui. Aqui, definiremos 'regras especificas' para elementos.
*/

.container{
    /* Temos outros valores opções como: grid-inline, 'subgrid' , mas por enquanto vamos com 'grid' apenas. Realizar apenas essa definição por 
    si só, não trará mudanças visíveis */
    display: grid;
    /* Aqui, definimos que teremos um grid com 3 colunas */
    grid-template-columns: repeat(3, 1fr);
}

.item{
    background-color: #00f;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}