/* #M6 aula #12: Required Input
    
*/
body {
   margin: 0;
   background-color: #EEE;
   
}

form {
    width: 190px;
    height: 150px;
    background-color: #DDD;
    margin: auto; /* deixa centralizado também */
    padding: 20px;
    margin-top: 20px;
}

input{
    padding: 5px;
    font-size: 13px;
} 

