/*  #M11 aula #12: Grid Area

    Temos dois propósitos na utilização do Grid Area - o Grid Area define ambos grid-column-start/end e grid-row-start/end
    define na ordem -> grid-row-start e grid-column-start, grid-row-end e grid-column-end;

    Apesar da simplicidade, não é o recurso mais utilizado, preferivelmente utilizam da outra forma - Esse é o primeiro proposito na utilização.
    Geralmente, quando utilizamos o Grid Area utilizamos a função dois - segundo propósito - basicamente, é nomear uma área específica porque
    depois podemos utilizar um outro recurso - o 'Template Area' - que nos vai permitir organizar de maneiras ainda mais avançadas.
*/

.container{
    background-color: #CCC;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

}

.item{
    background-color: #00f;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

.item1{
    grid-area: 1/1/span 3/span 2;
}
.item6{
    grid-area: 4/2/6/4;
}

