/* #M2 aula #9: Margins e Padding no CSS

    Todo elemento possui: conteúdo, padding, borda e margin (No caso, pode ter a borda ou o conteúdo não definidos)
  
    padding: espaçamento interno do elemento
    margin:  espaçamento externo do elemento

    declaração:
      1. padding (margin): argpx;                                 - define para todos os lados com um mesmo valor
      2. padding (margin) - top (right - bottom - left): argpx;   - define para um lado específico
      3. padding (margin): arg1px arg2px arg3px arg4px;           - define um valor para cada lado específico (sentido horário)
      4. padding (margin): arg1px arg2px;                         - Outra variação (arg1px = top-bottom, arg2px = left-right)
      5. padding (margin): arg1px arg2px arg3px;                  - Outra forma (arg1px = top, arg2px = left-right, arg3px = bottom)
*/
.exemplo {
    border: 1px solid #00FF00;
    padding: 10px;
    margin: 10px;
}
/* Usar Ferramentas de desenvolvedor do browser Google é bom para visualizar */
body{
  margin: 0px;/* definos margem 0 pq por padrão o body possui um margin de 8px */
}
