/* #M6 aula #20: Webkit
    
    Uma engine responsável por desenhar o html e CSS na tela - cada navegador tem o seu - devido a isso cada navegador pode diferir nos 
    valores atribuídos a propriedades do HTML/CSS (ex.: pequenas diferenças entre espaçamentos, tamanho das coisas etc.)

    Máquinas de renderização do HTML/CSS em cada navegador: 

    Internet Explore:   antes: Trident / Agora: EdgeHTML
    Firefox:            Gecko
    Opera:              Antes: Presto / Agora: Webkit - É a mais famosa engine
    Safari:             Webkit
    Chrome:             Blink ("versão melhorada" da Webkit) - ou simplesmente Webkit - como todo mundo conhece
*/

