/*  #M8 aula #4: Exercício Um clone do Google

*/
body{
    margin: 0;
    font-family: arial, sans-serif;
}
header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8px;
    margin-top: 5px;
    color: #272727;
    font-size: 13px;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}
header li{
    padding: 6px;
}
ul, li{
    list-style: none;
}
li img{
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 16px;
}
#liroundbg{
    padding-right: 0;
}
.imgbg{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.imgbg:hover{
    background-color: #eff0f0;
}
li a{
    text-decoration: none;

}
li a:hover{
    text-decoration: underline;
}
li a:visited{
    color: #272727;
}
.roundbg{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 5px;
}
.roundbg:hover{
    background-color: #eff0f0;
}
.pontos{
    display: flex;
}
.pontos div{
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #5f6368;
    margin: 1px;
}
#Searchpainel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#searchbar{
    display: flex;
    align-items: center;
    width: 540px;
    height: 15px;
    border-radius: 20px;
    border: 1px solid #dadce0;
    padding: 13px 22px 13px;
}
#searchbar:hover{
    box-shadow: 1px 2px 6px #dadce0;
}
input[type='search']{
    border: 0;
    outline: none;
    height: 18px;
    width: 520px;
    margin-left: 13px;
    padding-right: 18px;
    font-size: 20px;
    color: rgb(51, 47, 47);
}
section img{
    width: 260px;
}
#lupa{
    height: 18px;
    width: auto;
    object-fit: contain;
    padding-top: 0px;
}
#teclado{
    height: auto;
    width: 22px;
    object-fit: contain;
    margin-right: 18px;
    cursor: pointer;
}
#vozcomando{
    height: 21px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}
#botaoArea{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
button{
    background-color: #f8f9fa;
    color: #5f6368;
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 3px;
    border: 0;
}
button:hover{
    box-shadow: 0px 0px 2px #5f6368;
}
#texto{
    font-size: 13px;
    padding-left: 20px;
    margin-top: 30px;
}
#texto a{
    color: #044da7;
    text-decoration: none;
}
#texto a:hover{
    text-decoration: underline;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    font-size: 15px;
    height: auto;
    width: 100%;
    /* Se quiser ele fixo no final da página */
    position: fixed;
    bottom: 0px;
}
footer #barrainferior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dadce0;
    padding: 8px 0px 8px 30px;
}
#barrasuperior{
    padding: 12px 0px 0px 30px;
}
footer #barrainferior, footer #barrasuperior{
    background-color: #f2f2f2;
    color: #5f6368;
    height: 30px;
}
footer a, footer li{
    padding: 0;
    color: #5f6368 !important;
}

footer ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
footer li{
    margin-right: 25px;
}

@media (max-width: 789px){
    footer{
        font-size: 12px;
    }
}
@media (max-width: 600px) {

    header ul{
        padding-bottom: 40px;
    }
    #searchbar{
        width: 273px;
        height: 14px;
        padding-right: 20px;
    }
    input[type="search"]{
        font-size: 13px;
        width: 250px;
        height: 13px;
    }
    section img{
        width: 200px;
    }
    #lupa{
        height: 15px;
    }
    #teclado{
        width: 17px;
        margin-right: 12px;
    }
    #vozcomando{
        height: 15px;
    }
    #texto{
        font-size: 11px;
        padding-left: 5px;
    }
    footer #barrainferior{
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    #barrasuperior{
        padding: 12px 0px 0px 30px;
    }
    footer{
        font-size: 11px;
    }
    footer li{
        padding-top: 5px;
    }
}
@media (max-width: 337px){
    footer{
        font-size: 8px;
    }
}