/* #M2 aula #8: Bordas no CSS 

  * É possível colocar bordas em qualquer elemento
    1. border/border-top (left - right - bottom) : arg1px tipo #000    - Tamanho, tipo e cor da borda 
    2. border-radius: argpx;                                           - Borda arredondada: arg informa o raio - também se definem para lados
    específicos.
    
    * propriedade: overflow hidden                                     - a ser coberto...

  Tipos de bordas: solid (mais usada), dotted (pontilhada), dashed (tracejada), double (dois traços) groove (tipo um solid mais escuro), entre
  outras menos utilizadas.
*/
#titulo {
    background-color: rgb(0, 0, 0);
    color: #ffffff; 
}

p {
    border: 5px solid #daa520; /* tamanho, tipo e cor da borda */  
}

#texto {
  background-color: #daa520;
  border-radius: 5px; /* Borda arredondada, informa o raio - aqui de 5px */
}
/* a div é uma espécie de bloco, aqui definimos um quadrado (altura e largura iguais), com o uso do border-radius com um valor de 100px (métade
de 200px que é o height/width definido), transforma a div num circulo */
div{
    background-color: #3ed81f;
    width: 200px;
    height: 200px;
    border-radius: 100px; /* Nesse caso, se colocar mais de 100, continuará da mesma forma pois 100px aqui é o limite para 200px de height e
    width */
    border: 3px solid darkgreen; /* Aqui combina o border-radius com o border */
}

img {
    border: 5px solid #f128a4;
    border-radius: 20px;
    overflow: hidden;/* propriedade a ser coberta posteriormente. Aqui corta as bordas da imagem para corresponder com a border-radius de 20px */
}