/*  #M5 aula #12: Hack CSS Altura relativa a largura

    Dica importante: Técnica de CSS para responsividade que mantem a proporção original do vídeo
*/

.video{
    width: 100%;
    /* max-with para deixar com uma largura máxima apenas, e margin auto para centralizar */
    max-width: 800px;
    margin: auto;
}

.video-area{
    position: relative;
    height: 0px;
    /* background-color não é necessário mas serve para ver caso fique amostra o espaço, o intuito é que não apareça */
    background-color: #ccc; 
    /* o último argumento do padding é a proporção em porcentagem entre largura e altura. No caso 100% é uma proporção igual para ambos, 
    50% é a altura metade da largura. Para saber a melhor proporção para um dado formato de vídeo (1080, 720...), divida a altura pela a 
    largura e multiplique por 100 */
    padding: 0px 0px 56.25%; /* aqui, considerando o formato HD720p, a altura tem 56.25% do tamanho da largura */
}
/* Aqui o iframe terá posição absoluta e pegará toda a area disponível do video-area */
.video-area iframe{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}
















